* {
  box-sizing: border-box;
}

.blog-post {
  margin: 2% 10%;
  text-align: center;
  width: 75%;
  word-wrap: break-word;
}

.header {
  vertical-align: top;
  text-align: center;
}

.home-banner {
  background-image: url("san-antonio-wallpaper.jpg");
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}

a:nth-child(even) {
  margin: 0 20%;
}

.name {
  
}
