* {
  box-sizing: border-box;
}

.article {
  border-radius: 10%;
  border-style: double;
  display: inline-block;
  height: 500px;
  margin: 1% 0% 0 5%;
  width: 350px;
  vertical-align: top;
}

.blog-date {
  text-align: right;
}

.blog-container {
  margin: 0 5%;
}

.blog-post {
  margin: 2% 10%;
  text-align: center;
  width: 75%;
  word-wrap: break-word;
}

.blog-subtitle {
  text-align: right;
}

.blog-title {
  margin: 0;
  padding: 5% 0;
  text-align: center;
}

.container {

}

.content {
  margin: 10% 25% 0;
}

.content-1 {
  display: inline-block;
  padding: 1%;
  width: 68%;
}

.header {
  background-color: rgb(255,255,255);
  display: inline;
  position: fixed;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.home-banner {
  background-image: url("macbook1.jpg");
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}

/*.icon { will probably try to inlcude a background later
  background-color: rgb(255,255,255)
}*/

.icon-container {
  display: inline-block;
  height: 300px;
  margin: 4% 0 0 .5%;
  position: fixed;
  width: 50px;
}

.languages {
  color: rgba(255,255,255,0.6);
  text-align: center;
}

.name {
  display: inline-block;
  font-size: 2em;
  margin: 0 25% 0 0;
}

.navi {
  margin: 0 5% 0 0;
}

.navibar {
  display: inline-block;
  font-size: 1.5em;
  width: 56%;
}

.overlay {
  background-color: rgba(144, 131, 165, 0.5);
  height: 100%;
}

.portfolio-button {
  background-color: steelblue;
  border-radius: 25px;
  font-size: 2em;
  height: 2em;
  margin: 3% 43% 0;
  width: 6em;
}

.portfolio-button_link {
  color: rgb(255,255,255);
}

.profile-picture {
  height: 156px;
  width: 200px;
}

.project-info {
  height: 50%;
  margin: 4% 0 0;
  padding: 1%;
}

.project-names {
  text-align: center;
}

.screenshot {
  display: inline-block;
  height: 30%;
  margin: 0 17%;
}

.screenshot:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}

.title {
  padding: 13% 10% 0;
  text-align: center;
  font-size: 6em;
  font-weight: 600;
  font-family: fantasy;
  color: rgba(255,255,255,0.9);
  margin-top: 0;
}

.title-projects {
  font-size: 4em;
  font-weight: 100;
  margin-top: 15%;
  text-align: center;
}

.title-sub {
  color: rgba(15,15,15,0.6);
  font-family: fantasy;
  font-size: 3em;
  text-align: center;
}

.warning {
  font-size: 1em;
  text-align: center;
}
