* {
  box-sizing: border-box;
}

.blog-post {
  margin: 2% 10%;
  text-align: center;
  width: 75%;
  word-wrap: break-word;
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/f4/0d/cd/f40dcd57732e462d3da2fa690cacc6ed.jpg);
}

.header {
  vertical-align: top;
  text-align: center;
}

.navi:nth-child(2) {
  margin: 0 20%;
}

.project-name {
  font-size: 24px;
}
